.customhooks-container{
    position: relative;
    width: 100%;
    height: 100%;
    display:flex;
}

.customhooks-container textarea{
    position: absolute;
    left: 28%;
    width: 72%;
    height: 90%;
}

.customhooks-navbar{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color:#fad390;
    overflow: auto;
}

.customhooks-navbar ul li{
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight:600;
    line-height: 10px;
    margin: 0.8rem 0;
    padding: 0.2rem ;
    background-color:#e58e26;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customhooks-wrapper{
    position: absolute;
    left: 25%;
    width: 75%;
    height:100%;
}
