*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.navbar{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: auto;
}

li{
  margin: 0.8rem 0;
  background-color: #fff;
  padding: 1rem;
}

ul a{
  text-decoration: none;
  font-size: 16px;
  color: rgb(145, 33, 33);
  font-weight:500;
  line-height: 16px;
}

.container{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  max-width: 80%;
  max-height: 100%;
  width: 80%;
  height: 100%;
  position: absolute;
  left: 20%;
  padding: 1rem;
  overflow: auto;
}

.gridcontainer{
  height: 500px;
  overflow: auto;
}